/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/management-peer-org/*
organizations/fabric-ca/rec-client-peer-org/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
pnucc.tar.gz
log.txt
